__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ruff_cache/
venv/
.venv/
.vscode/
.idea/
.env
.env.*
secrets/
config/rclone.conf
storage/*
storage/**/*
!storage/**/
!storage/**/.gitkeep
build/
dist/
*.spec
*.log
*.tmp
*.temp
tools/ffmpeg/bin/*
!tools/ffmpeg/bin/.gitkeep
