<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
      Name="Video Translation Pipeline"
      Manufacturer="BDPP-3942"
      Version="$(var.Version)"
      UpgradeCode="238C5442-0D95-48C3-B2AF-801CE5B1C7CB"
      Platform="$(var.Platform)">
    <MajorUpgrade DowngradeErrorMessage="A newer version of Video Translation Pipeline is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Feature Id="MainFeature" Title="Video Translation Pipeline" Level="1">
      <ComponentGroupRef Id="AppFiles" />
      <ComponentRef Id="ApplicationShortcuts" />
    </Feature>
  </Package>

  <Fragment>
    <StandardDirectory Id="$(var.ProgramFilesDirectory)">
      <Directory Id="INSTALLFOLDER" Name="VideoTranslationPipeline" />
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="Video Translation Pipeline" />
    </StandardDirectory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="AppFiles" Directory="INSTALLFOLDER">
      <Files Include="$(var.SourceDir)\**" />
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <Component Id="ApplicationShortcuts" Directory="ApplicationProgramsFolder" Guid="*">
      <Shortcut
          Id="ApplicationStartMenuShortcut"
          Name="Video Translation Pipeline"
          Description="Video Translation Pipeline desktop application"
          Target="[INSTALLFOLDER]VideoTranslationPipeline.exe"
          WorkingDirectory="INSTALLFOLDER" />
      <RemoveFolder Id="RemoveApplicationProgramsFolder" On="uninstall" />
      <RegistryValue Root="HKCU" Key="Software\BDPP-3942\VideoTranslationPipeline" Name="installed" Type="integer" Value="1" KeyPath="yes" />
    </Component>
  </Fragment>
</Wix>
